* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

body {
    background: #ebebeb;
}

.header-nav {
    background: #322e41;
}


.header-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-list-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    padding: 22px;
    display: block;
    transition: 300ms;
}

.header-list-link:hover {
    background: #fff;
    color: #d47300;
}

.header-content {
    background: url(../images/nike.jpg) no-repeat center /cover;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.header-content-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 50px;
    color: #fff;
    text-transform: uppercase;
}

.header-content-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.header-content-text span {
    font-weight: 700;
}


.main-left {
    background: #fff;
    border-radius: 6px;
    max-width: 540px;
    width: 100%;
    padding: 15px;
}

.main-left-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    color: #2c2a2a;
    margin-top: 20px;
    margin-bottom: 10px;
}

.main-left-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #9b9b9b;
}

.main-right {
    max-width: 540px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px;
}

.main-box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: -37px;
}

.main-right-item {
    border-radius: 6px;
    max-width: 255px;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
}

.main-right-img {
    border: 2px solid #d47300;
    border-radius: 50%;
    width: 80px;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-right-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 22px;
    text-align: center;
    color: #2c2a2a;
    margin-top: 15px;
    margin-bottom: 10px;
}

.main-right-text {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    text-align: center;
    color: #9b9b9b;
}


.footer {
    background: #322e41;
    padding: 40px 0;
}

.footer-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    width: 100%;
}

.footer-form-input {
    background: #fff;
    border-radius: 6px;
    height: 36px;
    padding: 0 10px;
    border: none;
    outline: none;
}

.footer-form-input::placeholder,
.footer-form-text::placeholder {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    color: #9b9b9b;
}

.footer-form-text {
    border-radius: 6px;
    height: 86px;
    background: #fff;
    border: none;
    outline: none;
    padding: 10px;
    resize: none;
}


.footer-form-btn {
    border-radius: 6px;
    height: 36px;
    background: #544294;
    border: none;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 112%;
    text-align: center;
    color: #fff;
}

.footer-box {
 display: flex;
 justify-content: space-between;
 align-items: center;   
}

.footer-list-link {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    transition: 300ms;
    min-width: 86px;
    display: block;
}

.footer-list-link:hover {
    color: #d47300;
}

.footer-list {
    max-width: 236px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 10px;
}

.footer-social {
    display: flex;
    gap: 40px;
}